Xsd/Namespaces/kesineni-ticket.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://kesineni.com/partner/ticket" xmlns:kpt="http://kesineni.com/partner/ticket">
	<xs:element name="kesineni-ticket" type="kpt:kesineni-ticket-type"/>
	<xs:complexType name="kesineni-ticket-type">
		<xs:sequence>
			<xs:element name="kp-ref-no" type="xs:string"/>
			<xs:element name="service-no" type="xs:string"/>
			<xs:element name="seat-no" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
