Xsd/Namespaces/patient.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://apollo.com/patients/info" xmlns:api="http://apollo.com/patients/info">
	
	<xs:element name="patient" type="api:patientType"/>
	<xs:complexType name="patientType">
		<xs:sequence>
			<xs:element name="patient-name" type="xs:string"/>
			<xs:element name="contact-no" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>
